//FUENTES
$fuentePrincipal:"Arial";
//COLORES
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo:#fff34b;
$morada:#752F97;
$gris: #AAA;
$blanco:#FFF;
$negro:#000;
//TAMAÑOS
$delgada:300;
$normal:400;
$negrita:700;
$negra:900;
//VARIABLES NUMÉRICAS
$separacion:5rem;