//FUENTES
$fuentePrincipal:"Arial";
//COLORES
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo:#FEF46D;
$morada:#752F97;
$blanco:#FFF;
$negro:#000;
//TAMAÑOS
$delgada:300;
$normal:400;
$negrita:700;
$negra:900;